.button {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 8px;
    background: var(--btn);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white);
    z-index: 1;
}

.button::before,
.button::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: var(--btn-hover);
    transition: opacity 0.3s ease;
    z-index: 2;
    opacity: 0;
}

.button::after {
    background: var(--btn-active)
}

.button:hover::before,
.button:active::after {
    opacity: 1;
}

.button span {
    position: relative;
    z-index: 3;
}

.exit__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
}

.exit__icon {
    width: 24px;
    height: 24px;
    background: url(../../icons/exit.svg) no-repeat;
    background-size: contain;
}

.filter__btn {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #41522E;
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 8px;
}

.filter__icon__up__enabled{
    display: block;
    width: 8px;
    height: 6px;
    margin-left: 10px;
    background-size: contain;
    background: url(../../icons/arrow-up.svg) no-repeat;
}

.filter__icon__up__disabled{
    display: block;
    width: 8px;
    height: 6px;
    margin-left: 10px;
    background-size: contain;
    background: url(../../icons/arrow-up.svg) no-repeat;
    filter: invert(79%) sepia(0%) saturate(0%) hue-rotate(173deg) brightness(99%) contrast(111%);
}

.filter__icon__down__enabled{
    display: block;
    width: 8px;
    height: 6px;
    margin-left: 10px;
    background-size: contain;
    background: url(../../icons/arrow-down.svg) no-repeat;
}

.filter__icon__down__disabled{
    display: block;
    width: 8px;
    height: 6px;
    margin-left: 10px;
    background-size: contain;
    background: url(../../icons/arrow-down.svg) no-repeat;
    filter: invert(79%) sepia(0%) saturate(0%) hue-rotate(173deg) brightness(99%) contrast(111%);
}

.filter__button__disabled{
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 8px;
    border: 1px solid ;
    filter: invert(79%) sepia(0%) saturate(0%) hue-rotate(173deg) brightness(99%) contrast(111%);
}