.wrapper{
    display: grid;
    align-items: center;
    grid-template-rows: 0.5fr 2fr 0.5fr ;
    grid-template-columns: 0.5fr 2fr ;
    flex-grow: 1;
    min-width: 260px;
    padding: 16px 16px 16px 0;
    margin-right: 14px;
    border-bottom: 1px solid #C4C4C4;
}

.wrapper__favourite{
    display: grid;
    align-items: center;
    grid-template-rows: 2fr 0.5fr ;
    grid-template-columns: 0 ;
    flex-grow: 1;
    min-width: 260px;
    padding: 16px 0;
    margin-right: 14px;
    border-bottom: 1px solid #C4C4C4;
}

.card_icon{
    grid-row: 1/3;
}

.card__info{
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    text-align: start;  
}

.title{
    font-weight: 300;
    font-size: 17px;
}

.date__info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    color: #878787;
}

.date__info p{
    font-size: 14px;
}

.line{
    display: block;
    width: 9px;
    height: 1px;
    margin: 0 10px;
    background: #C4C4C4;
    border-radius: 2px;
}

.price__info{
    position: relative;
    display: flex;
    grid-column: 2/3;
    justify-content: space-between;
    align-items: end;
}

.price{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.price__text{
    font-weight: 300;
    font-size: 11px;
    right: 60%;
    bottom: 3px;
}

.price__icon, .price__icon__active{
    width: 24px;
    height: 24px;
    background: url(../../icons/heart.svg) no-repeat;
    background-size: contain;
    cursor: pointer;
}

.price__icon__active{
    background: url(../../icons/heart-active.svg) no-repeat;
}

.price__icon:hover{
    background: url(../../icons/heart-hover.svg) no-repeat;
    cursor: pointer;
}

.price__item{
    margin-left: 8px;
    font-size: 17px;
}

