.page {
    height: 100%;
    background: #E5E5E5;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 976px) {
    .wrapper {
        width: 100%;
        flex-direction: column;
    }

    .left__blocks {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 700px) {
    .left__blocks {
        display: block;
    }
}
